<div class="centerdiv">
<h2>About</h2>
<p>
  gostyle, is meant to encourage and connect fashion designer talent to acquire business with clients by showcasing
  their fashion work on website. This site targets small scale business users who doesn't have huge infrastructures
  to support larger business but yet are born sensational.

</p>
</div>
